/**************************************************************/
/******************    Custom Stylesheet    *******************/
/*******************   by Corey Sizemore   ********************/
/*******************     version 1.0       ********************/
/**************************************************************/


#phase_2 {
	width: 50%;
	float: right;
	padding: 40px;
	text-align: center;
	background: #194b61;
	
	h2 {
		color: #ffffff;
	}
	
	a.button:link,
	a.button:visited {
		background: #008000;
	}
}

#attachment_184 {
	float: right;
}

header {
	.header_cover {
		background: #194b61;
	}
}


header.home_default_image {
	background: url('../img/home.jpg') no-repeat;
	background-size: 100%;
	background-attachment: fixed;
}

header.page_default_image {
	background: url('../img/page.jpg') no-repeat;
	background-size: 100%;
	background-attachment: fixed;
}

.parallax.parallax_default_image {
	background: url('../img/parallax.jpg') no-repeat;
	background-size: 100%;
	background-attachment: fixed;
}

header.page_default_image.lifestyle-choices {
	background: url('../img/page-10.jpg') no-repeat;
	background-size: 100%;
	background-attachment: fixed;
}

header.page_default_image.cottage-homes {
	background: url('../img/page-1.jpg') no-repeat;
	background-size: 100%;
	background-attachment: fixed;
}

header.page_default_image.independent-living {
	background: url('../img/page-2.jpg') no-repeat;
	background-size: 100%;
	background-attachment: fixed;
}

header.page_default_image.light-assisted-living {
	background: url('../img/page-3.jpg') no-repeat;
	background-size: 100%;
	background-attachment: fixed;
}

header.page_default_image.assisted-living {
	background: url('../img/page-4.jpg') no-repeat;
	background-size: 100%;
	background-attachment: fixed;
}

header.page_default_image.amenities {
	background: url('../img/coffeeman.jpg') no-repeat;
	background-size: 100%;
	background-attachment: fixed;
}

header.page_default_image.wellness-fitness {
	background: url('../img/page-6.jpg') no-repeat;
	background-size: 100%;
	background-attachment: fixed;
}

header.page_default_image.about-us {
	background: url('../img/page-7.jpg') no-repeat;
	background-size: 100%;
	background-attachment: fixed;
}

a#searchopen:link, a#searchopen:visited {
	color: #194b61;
}

#contact_information {
	ul {
		li {
			a:link,
			a:visited {
				font-size: 18px;
				font-weight: 500;
			}
		}
	}
}

header.header_page {
	height: 450px;
	
	#page_title {
		h1.heading {
			
			display: inline-block;
			margin-top: 260px;
			padding: 5px;
		}
		
		h2.subheading {
			
			display: inline-block;
			padding: 5px;
		}
		
		h1.heading:after { content: '\A'; white-space:pre; }
	}
}

.breadcrumb_wrapper {
	margin-top: 280px;
}

#home_logo {
	bottom: 250px;
	
	#logo_home {
		
		img {
			width: 600px;
		}
	}
	
	#home_page_nav {
		
		ul {
			
			li {
				a:link,a:visited {
					background: #194b61;
				}
			}
		}
	}
}

.main.home {
	.main_cushion.includes {
		background: #194b61;
		
		.content {
			
			h2,p {
				color: #ffffff;
			}
			
			a:link,
			a:visited {
				color: #ffffff;
			}
			
			.icon_wrapper {
				background: #103647;
				
				.icon {
					color: #008000;
				}
			}
		}
	}
}

.content {
	
	h1, h3 {
		color: #008000;
	}
	
	h2 {
		color: #194b61;
	}
	
	a:link,
	a:visited {
		color: #008000;
	}
	
	a.button:link,
	a.button:visited {
		background: #194b61;
	}
	
	p {
		font-size: 20px;
		font-weight: 400;
	}
	
	iframe {
		width: 100%;
		height: 450px;
	}
	
	form {
		input[type="submit"] {
			background: #194b61;
		}
		
		.wpcf7-list-item-label {
			font-size: 14px;
		}
	}
}

.sidebar {
	
	h3 {
		color: #008000;
	}
	
	a:link,
	a:visited {
		color: #008000;
	}
	
	.marketing_section {
		margin-bottom: 40px;
		text-align: center;
		
		img {
			width: 100%;
			height: auto;
		}
		
		strong {
			display: block;
			font-weight: 700;
		}
		
		a:link,
		a:visited {
			display: block;
		}
	}
}

.appointment,
#contact_information {
	background: #194b61;
}

#contact_information {
	ul {
		li {
			a:link,
			a:visited {
				color: #ffffff;
			}
		}
	}
}

.edit_button {
	a:link,
	a:visited {
		background: #194b61;
	}
}



@media (min-width: 980px) and (max-width: 1220px) {
	
	header.home_default_image {
		background: url('../img/home.jpg') no-repeat;
		background-size: 100%;
		background-attachment: fixed;
	}
	
	header.header_page.page_default_image {
		background: url('../img/page.jpg') no-repeat;
		background-size: 100%;
		background-attachment: fixed;
	}
	
	header.header_page.page_default_image.lifestyle-choices {
		background: url('../img/page-10.jpg') no-repeat;
		background-size: 100%;
		background-attachment: fixed;
	}
	
	header.header_page.page_default_image.cottage-homes {
		background: url('../img/page-1.jpg') no-repeat;
		background-size: 100%;
		background-attachment: fixed;
	}
	
	header.header_page.page_default_image.independent-living {
		background: url('../img/page-2.jpg') no-repeat;
		background-size: 100%;
		background-attachment: fixed;
	}
	
	header.header_page.page_default_image.light-assisted-living {
		background: url('../img/page-3.jpg') no-repeat;
		background-size: 100%;
		background-attachment: fixed;
	}
	
	header.header_page.page_default_image.assisted-living {
		background: url('../img/page-4.jpg') no-repeat;
		background-size: 100%;
		background-attachment: fixed;
	}
	
	header.header_page.page_default_image.amenities {
		background: url('../img/coffeeman.jpg') no-repeat;
		background-size: 100%;
		background-attachment: fixed;
	}
	
	header.header_page.page_default_image.wellness-fitness {
		background: url('../img/page-6.jpg') no-repeat;
		background-size: 100%;
		background-attachment: fixed;
	}
	
	header.header_page.page_default_image.about-us {
		background: url('../img/page-7.jpg') no-repeat;
		background-size: 100%;
		background-attachment: fixed;
	}
	
	#home_logo {
		bottom: 60px;
		
		#logo_home {
			
			img {
				width: 400px;
			}
		}
	}
	
	header.header_page {
		height: 400px;
		
		#page_title {
			h1.heading {
				margin-top: 150px;
				padding: 5px;
			}
		}
	}
	
	.breadcrumb_wrapper {
		margin-top: 170px;
	}
	
}
	
@media (min-width: 768px) and (max-width: 979px) {
	
	header.home_default_image {
		background: url('../img/home_mobile.jpg') no-repeat;
		background-size: 100%;
		background-attachment: fixed;
	}
	
	header.header_page.page_default_image {
		background: url('../img/page_mobile.jpg') no-repeat;
		background-size: 100%;
		background-attachment: fixed;
	}
	
	header.header_page.page_default_image.lifestyle-choices {
		background: url('../img/page-10-mobile.jpg') no-repeat;
		background-size: 100%;
		background-attachment: fixed;
	}
	
	header.header_page.page_default_image.cottage-homes {
		background: url('../img/page-1-mobile.jpg') no-repeat;
		background-size: 100%;
		background-attachment: fixed;
	}
	
	header.header_page.page_default_image.independent-living {
		background: url('../img/page-2-mobile.jpg') no-repeat;
		background-size: 100%;
		background-attachment: fixed;
	}
	
	header.header_page.page_default_image.light-assisted-living {
		background: url('../img/page-3-mobile.jpg') no-repeat;
		background-size: 100%;
		background-attachment: fixed;
	}
	
	header.header_page.page_default_image.assisted-living {
		background: url('../img/page-4-mobile.jpg') no-repeat;
		background-size: 100%;
		background-attachment: fixed;
	}
	
	header.header_page.page_default_image.amenities {
		background: url('../img/coffeeman_mobile.jpg') no-repeat;
		background-size: 100%;
		background-attachment: fixed;
	}
	
	header.header_page.page_default_image.wellness-fitness {
		background: url('../img/page-6-mobile.jpg') no-repeat;
		background-size: 100%;
		background-attachment: fixed;
	}
	
	header.header_page.page_default_image.about-us {
		background: url('../img/page-7-mobile.jpg') no-repeat;
		background-size: 100%;
		background-attachment: fixed;
	}
	
	#home_logo {
		bottom: 0px;
		margin-top: 150px;
		
		#logo_home {
			
			img {
				width: 400px;
			}
		}
	}
	
	header.header_page {
		height: 400px;
		
		#page_title {
			h1.heading {
				margin-top: 150px;
				padding: 5px;
			}
		}
	}
	
	.breadcrumb_wrapper {
		margin-top: 170px;
	}
	
}
	
@media (min-width: 480px) and (max-width: 767px) {
	
	header.home_default_image {
		background: url('../img/home_mobile.jpg') no-repeat;
		background-size: 100%;
		background-attachment: fixed;
	}
	
	header.header_page.page_default_image {
		background: url('../img/page_mobile.jpg') no-repeat;
		background-size: 100%;
		background-attachment: fixed;
	}
	
	header.header_page.page_default_image.lifestyle-choices {
		background: url('../img/page-10-mobile.jpg') no-repeat;
		background-size: 100%;
		background-attachment: fixed;
	}
	
	header.header_page.page_default_image.cottage-homes {
		background: url('../img/page-1-mobile.jpg') no-repeat;
		background-size: 100%;
		background-attachment: fixed;
	}
	
	header.header_page.page_default_image.independent-living {
		background: url('../img/page-2-mobile.jpg') no-repeat;
		background-size: 100%;
		background-attachment: fixed;
	}
	
	header.header_page.page_default_image.light-assisted-living {
		background: url('../img/page-3-mobile.jpg') no-repeat;
		background-size: 100%;
		background-attachment: fixed;
	}
	
	header.header_page.page_default_image.assisted-living {
		background: url('../img/page-4-mobile.jpg') no-repeat;
		background-size: 100%;
		background-attachment: fixed;
	}
	
	header.header_page.page_default_image.amenities {
		background: url('../img/coffeeman_mobile.jpg') no-repeat;
		background-size: 100%;
		background-attachment: fixed;
	}
	
	header.header_page.page_default_image.wellness-fitness {
		background: url('../img/page-6-mobile.jpg') no-repeat;
		background-size: 100%;
		background-attachment: fixed;
	}
	
	header.header_page.page_default_image.about-us {
		background: url('../img/page-7-mobile.jpg') no-repeat;
		background-size: 100%;
		background-attachment: fixed;
	}
	
	#home_logo {
		
		#logo_home {
			
			img {
				width: 300px;
			}
		}
	}
	
	header.header_page {
		height: 350px;
		
		#page_title {
			h1.heading {
				margin-top: 120px;
				padding: 5px;
			}
		}
	}
	
	.breadcrumb_wrapper {
		margin-top: 0px;
	}
	
}
	
@media (min-width: 0px) and (max-width: 479px) {
	
	header.home_default_image {
		background: url('../img/home_mobile.jpg') no-repeat;
		background-size: 130%;
		background-attachment: fixed;
		background-position: center top;
	}
	
	header.header_page.page_default_image {
		background: url('../img/page_mobile.jpg') no-repeat;
		background-size: 100%;
		background-attachment: fixed;
	}
	
	header.header_page.page_default_image.lifestyle-choices {
		background: url('../img/page-10-mobile.jpg') no-repeat;
		background-size: 100%;
		background-attachment: fixed;
	}
	
	header.header_page.page_default_image.cottage-homes {
		background: url('../img/page-1-mobile.jpg') no-repeat;
		background-size: 100%;
		background-attachment: fixed;
	}
	
	header.header_page.page_default_image.independent-living {
		background: url('../img/page-2-mobile.jpg') no-repeat;
		background-size: 100%;
		background-attachment: fixed;
	}
	
	header.header_page.page_default_image.light-assisted-living {
		background: url('../img/page-3-mobile.jpg') no-repeat;
		background-size: 100%;
		background-attachment: fixed;
	}
	
	header.header_page.page_default_image.assisted-living {
		background: url('../img/page-4-mobile.jpg') no-repeat;
		background-size: 100%;
		background-attachment: fixed;
	}
	
	header.header_page.page_default_image.amenities {
		background: url('../img/coffeeman_mobile.jpg') no-repeat;
		background-size: 100%;
		background-attachment: fixed;
	}
	
	header.header_page.page_default_image.wellness-fitness {
		background: url('../img/page-6-mobile.jpg') no-repeat;
		background-size: 100%;
		background-attachment: fixed;
	}
	
	header.header_page.page_default_image.about-us {
		background: url('../img/page-7-mobile.jpg') no-repeat;
		background-size: 100%;
		background-attachment: fixed;
	}
	
	#home_logo {
		
		#logo_home {
			
			img {
				width: 250px;
			}
		}
	}
	
	header.header_page {
		height: 350px;
		
		#page_title {
			h1.heading {
				margin-top: 120px;
				padding: 5px;
			}
		}
	}
	
	.breadcrumb_wrapper {
		margin-top: 0px;
	}
	
}